<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>EduChain</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/assets/dist/css/material.css">
  <link rel="stylesheet" href="/assets/dist/css/base.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.0/vue-resource.js"></script>
  <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
  </style>
</head>

<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header>
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">
            <a href="/index.html">
              <img src="/assets/dist/img/logo.png" />
            </a>
          </span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/about">Hakkında</a>
            <a class="mdl-navigation__link" href="/contact">İletişim</a>
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content" id="registration">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <h4 class="mdl-color-text--white">Yeni Zincir Yükle</h4>
              <p class="mdl-color-text--white">Lütfen, aşağıdaki bilgileri giriniz.</p>

              <form action="fileupload" method="POST" class="block-action">
                <div v-show="isLoading" class="create-new--loading">
                  <p>
                    Dijital sertifikanız merkeziyetsiz veri deposuna yüklenirken lütfen bekleyin. Bu işlem uzun sürebilir...
                  </p>
                  <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                </div>
                <div v-show="isError" class="create-new--notification create-new--error">
                  <p>
                    Swarm arayüzünde bir hata oluştu ve ne yazık ki çalışmaya devam edemiyorum. Lütfen tekrar deneyin.
                  </p>
                </div>

                <div v-show="!!hash" class="create-new--notification create-new--info">
                  <p>
                    <router-link :to="{ path: 'http://swarm.blockscan.com/bzz:/' + hash, }">{{hash}}</router-link>... ile dokümaniniz olusturuldu.
                  </p>
                </div>
                <div v-show="!isLoading" class="create-new--form">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="individualName" v-model="name">
                    <label class="mdl-textfield__label" for="individualName">Adı</label>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="individualLastName" v-model="lastname">
                    <label class="mdl-textfield__label" for="individualName">Soyadı</label>
                  </div>
                </div>
                <a v-on:click="save()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-button--radius">
                  Zincire Kaydet
                </a>
              </form>
            </div>
          </div>

        </div>
      </main>
    </div>
  </div>
  <script src="/assets/dist/js/material.min.js"></script>
  <script src="/lib/app.js"></script>
</body>

</html>